requests
seatable-api==3.0.0
dateutils
pyOpenSSL
pandas
python-barcode[images]
qrcode[pil]
openai
ldap3
scipy
pyjwt
pdfmerge
pillow-heif
rapidfuzz       # enable fuzzy string matching
markdown        # allow processing content of long-text columns